header {
    background-color: #000000; 
  }


.header h1 {
    color: #fff;
    font-size: 50px;
    text-align: center;
  }

  .header p {
    color: #fff;
    font-weight: 500;
    letter-spacing: 8px;
    text-align: center;
    text-transform: uppercase; 
  }

  .container {
    background-color:#000;
    max-width: 100%; 
    padding: 0px;
  }
  .header h2 {
    font-family:sans-serif;
    text-transform: uppercase; 
    text-align: center;
    color: #000066;
    
  }
  .header h2:hover{
      color: #005cc2;
  }

  .nav { 
    background: #000;
    height: 80px; 
    width: 100%;
  }

